{
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "prettier",
    "prettier/flowtype",
    "prettier/babel",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off"

  }
}
